**/data/
**/data_all_labels/
**/data_labels_png/
**/data_one_sample/
**/data_png/
**/su_african_crops_ghana_source_s2*
**/su_african_crops_ghana_labels*
**/data_29_to_20/
**/Landcover_dataset-20211205T023015Z-002.zip
**/Landcover_dataset-20211205T023015Z-002/
**/data_all_source/
*.pyc
*.tif
**/masks_rgb/